
body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
}

header nav {
  text-align: right;
  background: rgba(0,0,0,0.6);
  color: white;
  font-size: 1em;
  position: fixed;
  width: 100%;
}
header nav a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  padding: 2em 1em .5em;
  -webkit-transition: all .3s ease-in;
}
.small {
  padding: .5em 1em;
}
header nav a:hover {
  text-decoration: underline;
}

.active {
  background: rgba(255,255,255,0.3);
}

.section {
  
  background-image: url(../images/painting.jpeg);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}
.section.two {
  background-image: url(../images/painting.jpeg) ;
}
.section h2 {
  color: white;
  font-weight: normal;
  font-size: 3em;
  padding: 2em 0;
  margin: 0;
  text-shadow: 0 0 10px black;
  background: rgba(0,0,0,0.6);
}

.info {
  background: #FFFAF0;
  /*background: black; */
  color: #777;
  /*color: #8d9093; */
  padding: 3em 20%;
}

footer.info {
  color: #FFFAF0;
  /* background: #777; */
  /*background: #AF8787; */
  background: rgba(0,0,0,0.9);
  padding: 0 auto;
  text-align: center;
}

#toTop img {
  width: 50px;
}
#toTop img:hover {
  cursor: pointer;
}
nav img {
  z-index: 1000;
  height: 2.5em;
  position: absolute;
  left: 40px;
  top: 10px;
  transition: all 0.5s linear;
}

.move {
  top: -60px;
}

nav span {
  position: absolute;
  left: 40px;
  top: 10px;
  font-weight: bold;
  transition: all 0.5s ease-in;
}

.movetext {
  top: -30px;
}


.fa {
  padding: 10px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 70%;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
	background: black;
	color: white;
}