
body {
  margin: 0 auto; 
  padding: 0;
  /*font-family: "Source Sans Pro", sans-serif; */
  font-size: 2vw;
  font-family: 'Montserrat', sans-serif;
  /*max-width: 100%;
  width: 100%; */
}

header nav {
  text-align: right;
  background: rgba(0,0,0,0.6);
  color: white;
  font-size: 1em;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}
header nav a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  padding: 2em 1em .5em;
  -webkit-transition: all .3s ease-in;
}
.icon {
	float: left;
}
.small {
  padding: .5em 1em;
}
header nav a:hover {
  text-decoration: underline;
}
/*responsive nav */
.topnav .icon {
  display: none;
  float: left;
}
.topnav {
	position: fixed;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .position {
    line-height: 2px;
  }
  #icon {
  	float: left;
  	left: 0;
  	padding: 4px;
  }
}
/*
@media screen and (max-width: 800px) {
  .topnav.responsive {position: fixed;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .position {
    line-height: 2px;
  }
 }
*/
@media screen and (max-width: 600px) {
  .topnav.responsive {position: fixed;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .position {
    line-height: 2px;
  }
}
.active {
  background: rgba(255,255,255,0.3);
}

.section {
  background-image: url(../images/painting.jpeg);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  width: 100%;
  max-width: 100%;
  right: 0;
  left: 0;
  margin: 0 auto;
}
.section.two {
  background-image: url(../images/painting.jpeg);
  width:100%;
  max-width: 100%;
}
.section h2 {
  color: white;
  font-weight: normal;
  font-size: 4em;
  padding: 2em 0;
  margin: 0;
  text-shadow: 0 0 10px black;
  background: rgba(0,0,0,0.6);
  font-family: 'Permanent Marker', cursive;
  top: 0;
  font-size: 6vw;
  /*font-family: 'Architects Daughter', cursive; */
  /*font-family: 'VT323', monospace; */
}

.info {
  background: #FFFAF0;
  /*background: black; */
  color: #777;
  /*color: #8d9093; */
  padding: 3em 20%;
}

.quotes {
  /*font-family: 'Pacifico', cursive; */
  font-family: 'Dancing Script', cursive;
  text-align: center;
  font-size: 30px;
}

footer.info {
  color: #FFFAF0;
  /* background: #777; */
  /*background: #AF8787; */
  background: rgba(0,0,0,0.9);
  padding: 0 auto;
  text-align: center;
}

#toTop img {
  width: 50px;
}
#toTop img:hover {
  cursor: pointer;
}
nav img {
  z-index: 1000;
  height: 2.5em;
  position: absolute;
  left: 40px;
  top: 10px;
  transition: all 0.5s linear;
}

.move {
  top: -70px;
}

nav span {
  position: absolute;
  left: 40px;
  top: 10px;
  font-weight: bold;
  transition: all 0.5s ease-in;
}

.movetext {
  top: -30px;
}

.proj {
  padding: 20px;
  margin-top: 20px;
}
/*IMAGE STYLING */
.rig {
	z-index: 2;
    max-width:900px;
    margin:0 auto; /*center aligned*/
    /*padding:1em;  */
    font-size:0; 
    /* Remember to change it back to normal font size if have captions */
    list-style-type: none;
    background-color: transparent;
}
.rig ul {
	list-style-type: none;
}
.rig li {
    display: inline-block;
    /*display:inline;/*for IE6 - IE7*/
    width: 50%;
    vertical-align: middle;
    box-sizing: border-box;
    margin:0;
    padding:0;
    display: relative;
    list-style-type: none;
}
        
/* The wrapper for each item */
.rig-cell {
    margin: 12px; 
    box-shadow:0 0 6px rgba(0,0,0,0.3);
    display:block;
    position: relative;
    overflow:hidden;
    /*border-radius: 30%; */
}
        
/* If have the image layer */
.rig-img {
    display:block;
    width: 100%;
    border:none;
    transform:scale(1);
    transition:all 1s;
    /*display: relative; */
  	max-width: 100%;
  	height: 100%;
  	object-fit: cover; 
  	/*mix-blend-mode: multiply;
 	transition: all 0.3s ease-in-out; 
  	/*border-radius: 100%; */
  	height: 200px; 
  	/*width: 200px; */
  	/*flex-wrap: wrap; */
}

.rig li:hover .rig-img {
    transform:scale(1.05);
}
        
/* If have the overlay layer */
.rig-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #b22593 url(img/link.png) no-repeat center 20%;
    /*background-size: 200px 200px; */
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
    transition:all 0.6s;
}
.rig li:hover .rig-overlay {
    opacity:0.8;
}

/* If have captions */
.rig-text {
    display:block;
    padding:0 20px;
    box-sizing:border-box;
    position:absolute;
    left:0;
    width:100%;
    text-align:left;
    text-transform:capitalize;
    font-size:18px;
    font-weight:bold;
    /*font-family: 'Oswald', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    font-weight:normal!important;
    top:20%;
    color:white;
    opacity:0;
    filter:alpha(opacity=0);/*For older IE*/
    transform:translateY(-20px);
    transition:all .3s;
}
.rig li:hover .rig-text {
    transform:translateY(0px);
    opacity:0.9;
}

@media (max-width: 9000px) {
    .rig li {
       /* width:25%; */
       width: 50%;
    }
}

@media (max-width: 700px) {
    .rig li {
        /*width:33.33%; */
        width: 50%;
    }
}

@media (max-width: 550px) {
    .rig li {
        width: 100%;
    }
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width:100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  font-weight: bold;
  background-color: grey;
  color: white;
  border-radius: 12px ;
}

.role {
  position: relative;
  overflow-x: : scroll;
  font-size: 2.5vw;
}

.position h4 {
  position: relative;
  font-size: 3vw;
}

.position p {
  position: relative;
  font-size: 2vw;
}

.position {
  line-height: 2px;
}

.contactbox {
  border-radius: 12px;
  border-style: solid;
  border-color: #442211;
  background-color: #ff7799;
  padding: 20px;
  font-size: 30px;
  color: #23191f;
  font-family: 'Gloria Hallelujah', cursive;
} 

#name-field, #email-field, #location-field {
  padding: 2px;
  padding: 12px 0px;
  margin: 8px 0;
  display: inline-block;
  display: flex;
  flex-direction: row;
  border: 1px solid #a51769;
  border-radius: 4px;
  font-size: 20px;
  font-family: 'Gloria Hallelujah', cursive;
  background-color: white;
  width: 100%;
  color: gray;
}

#email-field {
  overflow-wrap: wrap;
  overflow: hidden;
}

#networks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
