
body {
  margin: 0 auto;
  padding: 0;
  /*font-family: "Source Sans Pro", sans-serif; */
  font-size: 2vw;
  font-family: 'Montserrat', sans-serif;
  max-width: 100%;
  width: 100%;
}

header nav {
  text-align: right;
  background: rgba(0,0,0,0.6);
  color: white;
  font-size: 1em;
  position: fixed;
  width: 100%;
  top: 0;
}
header nav a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  padding: 2em 1em .5em;
  -webkit-transition: all .3s ease-in;
}
.icon {
	float: left;
}
.small {
  padding: .5em 1em;
}
header nav a:hover {
  text-decoration: underline;
}
/*responsive nav */
.topnav .icon {
  display: none;
  float: left;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .position {
    line-height: 2px;
  }
  #icon {
  	float: left;
  	left: 0;
  	padding: 4px;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .position {
    line-height: 2px;
  }
}
.active {
  background: rgba(255,255,255,0.3);
}

.section {
  background-image: url(../images/painting.jpeg);
  width: 100%;
  max-width: 100%;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}
.section.two {
  background-image: url(../images/painting.jpeg);
  width:100%;
  max-width: 100%;
}
.section h2 {
  color: white;
  font-weight: normal;
  font-size: 4em;
  padding: 2em 0;
  margin: 0;
  text-shadow: 0 0 10px black;
  background: rgba(0,0,0,0.6);
  font-family: 'Permanent Marker', cursive;
  top: 0;
  font-size: 6vw;
  /*font-family: 'Architects Daughter', cursive; */
  /*font-family: 'VT323', monospace; */
}

.info {
  background: #FFFAF0;
  /*background: black; */
  color: #777;
  /*color: #8d9093; */
  padding: 3em 20%;
}

.quotes {
  /*font-family: 'Pacifico', cursive; */
  font-family: 'Dancing Script', cursive;
  text-align: center;
  font-size: 30px;
}

footer.info {
  color: #FFFAF0;
  /* background: #777; */
  /*background: #AF8787; */
  background: rgba(0,0,0,0.9);
  padding: 0 auto;
  text-align: center;
}

#toTop img {
  width: 50px;
}
#toTop img:hover {
  cursor: pointer;
}
nav img {
  z-index: 1000;
  height: 2.5em;
  position: absolute;
  left: 40px;
  top: 10px;
  transition: all 0.5s linear;
}

.move {
  top: -70px;
}

nav span {
  position: absolute;
  left: 40px;
  top: 10px;
  font-weight: bold;
  transition: all 0.5s ease-in;
}

.movetext {
  top: -30px;
}

.proj {
  padding: 20px;
  margin-top: 20px;
}

@media screen and (max-width:; 800px) {
  .column {
    flex: 100%;
    /* max-width: 50%; */
    max-width: 100%;
  }
}
@media screen and (max-width:; 600px) {
  .column {
    flex: 100%;
    /*max-width: 100%; */
    max-width: 100%;
    float: left;
    margin: 0;
    width: 100%;
  }
}

@supports (object-fit: cover) and (display:grid) {
  .browser-alert {
    display: none;
  }
}

* {
  box-sizing: border-box;
}

.imagegrid {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}
.imagegrid > * {
  flex: 1 1 300px;
  align-self: flex-start;
  padding: 1rem;
}

@supports (display: grid) {
  .imagegrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 0.5rem;
  }

  .imagegrid > * {
    padding: 0;
  }
}

.imagegrid figure {
  position: relative;
  padding: 30% 0;
  overflow: hidden;
  cursor: pointer;
}

.imagegrid figure::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}

.imagegrid figure:hover img {
  opacity: 0.25;
}
.imagegrid figure:hover figcaption {
  opacity: 1;
  transform: translateY(0);
}
.imagegrid figcaption {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  opacity: 0;
  transform: translateY(1rem);
  transition: all 0.3s ease-in-out;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.imagegrid figcaption h1 {
  font-size: 18px;
}

.imagegrid figcaption a {
  text-decoration: none;
  color: #fff;
}

.imagegrid img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: multiply;
  /*filter: saturate(0); */
  transition: all 0.3s ease-in-out;
  border-radius: 100%;
}

.contactbox {
  border-radius: 12px;
  border-style: solid;
  border-color: #442211;
  background-color: #ff7799;
  /*background-color: #f7e6f0; */
  padding: 20px;
  font-size: 30px;
  color: #23191f;
  font-family: 'Gloria Hallelujah', cursive;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #a51769;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Gloria Hallelujah', cursive;
    resize: vertical;
    overflow-x: scroll;
}

@media screen and (max-width: 600px) {
  input[type=text] {
    width: 100%;
    margin-top:0;
  }
  .position {
  }
}
table {
  border-collapse: collapse;
  width: 100%;
  max-width:100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  font-weight: bold;
  background-color: grey;
  color: white;
  border-radius: 12px ;
}

.role {
  position: relative;
  overflow-x: : scroll;
  font-size: 2.5vw;
}

.position h4 {
  position: relative;
  font-size: 3vw;
}

.position p {
  position: relative;
  font-size: 2vw;
}

.position {
  line-height: 2px;
}